<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vicmob.mapper.minathird.MinaTemplateMapper">

    <!--获取小程序模板信息-->
    <select id="getTemplate" resultType="com.vicmob.entity.MinaTemplate">
        SELECT minaTmpId, tmpName, templateId
        FROM bc_mina_template
    </select>

</mapper>