<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vicmob.mapper.web.BcMinaPublishMapper">

    <sql id="publishInfo">
		a.publishId AS "publishId",
		a.userId AS "userId",
		a.minaId AS "minaId",
		a.appId AS "appId",
		a.categoryID AS "categoryID",
		a.categoryName AS "categoryName",
		a.minaTag AS "minaTag",
		a.auditid AS "auditId",
		a.auditState AS "auditState",
		a.auditTime AS "auditTime",
		a.publishTime AS "publishTime"
	</sql>

    <!--通过minaId获取小程序发布信息-->
    <select id="findByMinaId" parameterType="int" resultType="com.vicmob.entity.BcMinaPublish">
        SELECT
            <include refid="publishInfo" />
        FROM bc_mina_publish a
        WHERE a.minaId = #{minaId}
    </select>
</mapper>